h1,
.h1 {
    font-size: $h1-my-font-size;
    margin-bottom: $my-fize-margin-bottom;
    line-height: $my-fize-line-height;
    font-weight: $my-fize-font-weight
}

h2,
.h2 {
    font-size: $h2-my-font-size;
    margin-bottom: $my-fize-margin-bottom;
    line-height: $my-fize-line-height;
    font-weight: $my-fize-font-weight
}

h3,
.h3 {
    font-size: $h3-my-font-size;
    margin-bottom: $my-fize-margin-bottom;
    line-height: $my-fize-line-height;
    font-weight: $my-fize-font-weight
}

h4,
.h4 {
    font-size: $h4-my-font-size;
    margin-bottom: $my-fize-margin-bottom;
    line-height: $my-fize-line-height;
    font-weight: $my-fize-font-weight
}

h5,
.h5 {
    font-size: $h5-my-font-size;
    margin-bottom: $my-fize-margin-bottom;
    line-height: $my-fize-line-height;
    font-weight: $my-fize-font-weight
}

h6,
.h6 {
    font-size: $h6-my-font-size;
    margin-bottom: $my-fize-margin-bottom;
    line-height: $my-fize-line-height;
    font-weight: $my-fize-font-weight
}


.h7 {
    font-size: $h7-my-font-size;
    margin-bottom: $my-fize-margin-bottom;
    line-height: $my-fize-line-height;
    font-weight: $my-fize-font-weight
}

.h8 {
    font-size: $h8-my-font-size;
    margin-bottom: $my-fize-margin-bottom;
    line-height: $my-fize-line-height;
    font-weight: $my-fize-font-weight
}

.h9 {
    font-size: $h9-my-font-size;
    margin-bottom: $my-fize-margin-bottom;
    line-height: $my-fize-line-height;
    font-weight: $my-fize-font-weight
}

.h0 {
    font-size: $h0-my-font-size;
    margin-bottom: $my-fize-margin-bottom;
    line-height: $my-fize-line-height;
    font-weight: $my-fize-font-weight
}