//font-size

$my-font-size-base: 16px;

$h1-my-font-size: $my-font-size-base * 3;
$h2-my-font-size: $my-font-size-base * 2.75;
$h3-my-font-size: $my-font-size-base * 2.5;
$h4-my-font-size: $my-font-size-base * 2.25;
$h5-my-font-size: $my-font-size-base * 2;
$h6-my-font-size: $my-font-size-base * 1.75;
$h7-my-font-size: $my-font-size-base * 1.5;
$h8-my-font-size: $my-font-size-base * 1.25;
$h9-my-font-size: $my-font-size-base;
$h0-my-font-size: 12px;

$my-fize-margin-bottom: 10px;
$my-fize-line-height: 1.2;
$my-fize-font-weight: 500;